@import "~bootstrap/scss/bootstrap.scss";

h1 {
    margin-bottom: 30px;
}

#div1 {
float:left;
position: relative;
width: 100px;
margin: 0 50px;
padding: 15px;
list-style-type: none;
border: 6px double grey;
background: black;
background: linear-gradient( -90deg, #45484d 0%, #000000 100%);
border-radius: 10%;
box-shadow: 0px 0px 0 20px rgba(0,0,0,.8);
}

.luz1 {
    border : 1px solid rgb(145, 139, 139);
    margin: 0px auto ;
    background-color: rgb(63, 1, 1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.luz1On {
    margin: 0px auto ;
    background-color: red;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: rgb(197, 62, 62) 0px 0px 50px 20px;
    margin-bottom: 5px;
}
.luz2 {
    border : 1px solid rgb(145, 139, 139);
    margin: 0px auto ;
    background-color: rgb(73, 48, 0);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.luz2On {
    margin: 0px auto ;
    background-color: orange;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: orange 0px 0px 50px 20px;
    margin-bottom: 5px;
}
.luz3 {
    border : 1px solid rgb(145, 139, 139);
    margin: 0px auto ;
    background-color: rgb(0, 32, 0);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.luz3On {
    margin: 0px auto ;
    background-color: green;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: green 0px 0px 50px 20px;
}

.container {
   
    justify-content: center;
    margin-top: 50px;
    margin-left: 150px;
}
